#screen {
	height: 50px;
	width: 380px;
	border: 5px black solid;
	display: flex;
	align-content:flex-end;
	justify-content:flex-end;
	line-height:50px;
	padding:5px;
	font-size: 40px;
}

.buttons{
	background-color: grey; /* Green */
	border: none;
	color: black;
	border: 2px solid;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.buttons:hover {
	background-color: green;
	border: 2px solid;
	color: black;
}
